/* COMMON */
body {
  margin: 0 auto;
  width: 768px;
  text-align: center;
  vertical-align: middle;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  position: relative;
  margin: 0;
}

p {
  margin: 0;
}

/* MAIN */

section {
  width: 768px;
}

section.main {
  position: relative;
}

button.reset {
  position: absolute;
  top: 0;
  right: 0;
}

span.team-name {
  font-weight: 700;
}

header {
  font-size: 24px;
  font-weight: 500;
  background-color: rgb(37, 167, 109);
  color: #fff;
}

div.score-box {
  display: flex;
}

div.score {
  width: 384px;
  margin: 10px 0;
}

li {
  display: flex;
  position: relative;
}

li > p {
  position: absolute;
  top: 10px;
  left: 10;
}

li > div {
  width: 384px;
}

li > button {
  position: absolute;
  top: 10px;
  right: 0;
}

div.btn-boxs {
  display: flex;
}

div.btns {
  width: 384px;
}

div.btns > button {
  height: 24px;
  background-color: #fff;
  border: 1px solid rgb(37, 167, 109);
  color: rgb(15, 92, 57);
}

div.btns > button {
}

input.input-score {
  width: 700px;
}
